.bookshelf-settings {
  height: 100px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 10px;
}
